@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
:root {
    --bodyFont: 'Pontano Sans', sans-serif;
    --transition: .3s ease;
    --gray: #333333;
    --darkgray: #2e2e2e;
    --yellow: #f3cd52;
    --lightgray: rgba(255,255,255,0.4);
    --white: #fff;
    --font: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--bodyFont);
    background: var(--gray);
    line-height: 1.7;
    font-size: var(--font);
}
.container {
    width: 70%;
    margin: auto;
}
.container::after {
    display: block;
    content: "";
    clear: both;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    background: var(--yellow);
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
button:hover {
    background: var(--white);
    cursor: pointer;
    transition: var(--transition);
}
hr {
    background: var(--lightgray);
    border: none;
    height: 1px;
    width: 70%;
    margin: 50px auto 0 auto;
}
/***************
header
***************/
header {
    background: var(--yellow);
    text-align: center;
}
header img {
    width: 100%;
    height: auto;
    display: block;
    border-top: 30px solid rgba(255,255,255,.5);
    border-right: 30px solid rgba(255,255,255,.5);
    border-left: 30px solid rgba(255,255,255,.5);
}
header nav {
    padding-top: 30px;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: var(--gray);
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
}
header nav ul li a:hover {
    color: #7c7c7c;
    transition: var(--transition);
}
header h1 {
    padding-top: 70px;
    font-size: 3rem;
    padding-bottom: 15px;
    letter-spacing: 2px;
}
header p {
    text-transform: uppercase;
    padding-bottom: 70px;
}
/***************
services
***************/
.services {
    padding: 50px 0;
    text-align: center;
}
.services article {
    width: 33%;
    float: left;
}
.services h3 {
    font-size: 2rem;
    color: var(--white);
}
.services p {
    padding: 30px;
    color: var(--lightgray);
}
/***************
portfolio
***************/
.portfolio {
    padding: 50px 0;
    text-align: center;
}
.portfolio h2 {
    font-size: 3rem;
    letter-spacing: 2px;
    color: var(--white);
}
.portfolio h2 + p {
    color: var(--lightgray);
    padding: 20px;
}
.portfolio article {
    width: 25%;
    float: left;
    padding: 20px;
}
.portfolio img {
    width: 100%;
}
.portfolio h3 {
    color: var(--white);
    font-size: 1.8rem;
}
.portfolio p {
    color: var(--lightgray);
    margin-bottom: 30px;
}
/***************
contact
***************/
.contact {
    text-align: center;
    padding: 50px 0;
}
.contact h2 {
    font-size: 3rem;
    color: var(--white);
    letter-spacing: 2px;
}
.contact p {
    color: var(--lightgray);
    padding: 20px;
}
.contact form {
    width: 40%;
    margin: auto;
}
.contact form input, 
.contact form textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
    background: var(--darkgray);
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    font-family: var(--bodyFont);
    color: var(--lightgray);
}
/***************
footer
***************/
footer {
    text-align: center;
}
footer h2 {
    font-size: 3rem;
    color: var(--white);
    letter-spacing: 2px;
    padding-top: 20px;
}
footer p {
    padding: 20px;
    color: var(--lightgray);
}
footer i {
    padding: 20px;
    background: var(--yellow);
    color: var(--gray);
    font-size: 1.5rem;
    margin: 20px;
}
footer .copy {
    padding: 50px;
}
/***************
r e s p o n s i v e
***************/
@media(min-width: 768px) and (max-width: 1024px) {
    .portfolio article {
        width: 50%;
    }
    .services article {
        width: 100%;
        margin-bottom: 40px;
    }
}
@media(max-width: 768px) {
    .container {
        width: 90%;
    }
    header nav ul li a {
        padding: 2px;
        font-size: .9rem;
        letter-spacing: 1px;
    }
    header h1 {
        padding-top: 30px;
        font-size: 2rem;
        padding-bottom: 15px;
    }
    header img {
        border-top: 15px solid rgba(255,255,255,.5);
        border-right: 15px solid rgba(255,255,255,.5);
        border-left: 15px solid rgba(255,255,255,.5);
    }
    header p {
        padding-bottom: 30px;
    }
    .services article,
    .portfolio article {
        width: 100%;
    }
    .contact form {
        width: 80%;
    }
    footer i {
        margin: 10px;
    }
}



