@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700');
:root {
    --pink: #f20f97;
    --black: #000;
    --white: #fff;
    --transition: .4s ease;
    --gray: gray;
    --lightgray: #f8f8f8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 90%;
    margin: auto;
}
ul {
    list-style: none;
}
button {
    background: transparent;
    border: 1px solid var(--black);
    padding: 15px 40px;
    font-size: 1rem;
    margin-top: 30px;
    border-radius: 30px;
}
button:hover {
    cursor: pointer;
    transition: var(--transition);
    background: var(--pink);
}
/**********************
header
**********************/
header {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
nav ul {
    display: flex;
}
.logo {
    color: var(--white);
    font-size: 2rem;
    text-decoration: none;
}
.logo span {
    font-style: italic;
    font-weight: 700;
}
nav ul li a {
    color: var(--white);
    text-decoration: none;
    margin-left: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header hgroup {
    display: flex;
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
header hgroup h4 {
    font-size: 1.2rem;
}
header hgroup h2 {
    font-size: 4rem;
    font-weight: 700;
    padding: 20px 0;
}
header hgroup p {
    font-style: italic;
    font-size: 1.2rem;
}
/**********************
about
**********************/
.about {
    display: flex;
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about article:first-child {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.about article:last-child {
    flex: 0 0 37%;
}
.about img {
    width: 100%;
    box-shadow: 0 0 40px var(--gray);
    border-radius: 30px;
}
.about article:first-child h2 {
    font-size: 3rem;
    padding-bottom: 30px;
}
.about article:first-child h4 {
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.about article:first-child hr {
    height: 2px;
    background: var(--pink);
    width: 20%;
    border: none;
    margin-bottom: 30px;
}
/**********************
counter
**********************/
.counter {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: space-around;
}
.counter h2 {
    font-size: 3rem;
}
.counter hr {
    margin: 20px auto;
    width: 50%;
}
/**********************
team
**********************/
.team {
    padding: 50px 0;
}
.team .row {
    display: flex;
    flex-wrap: wrap;
}
.team .clean {
    flex: 5;
}
.team .full {
    flex: 7;
    display: flex;
}
.team .full img {
    width: 100%;
}
.team .left .full .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 20px;
}
.team .left .full .text hr {
    height: 2px;
    background: var(--pink);
    border: none;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    right: -300px;
}
.team .right .full .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.team .right .full .text hr {
    height: 2px;
    background: var(--pink);
    border: none;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: -110px;
}
/**********************
services
**********************/
.services {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.services img {
    width: 100%;
    box-shadow: 0 0 40px var(--gray);
    border-radius: 30px;
}
.services article {
    flex: 0 0 30%;
}
.services article:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.services h4 {
    color: var(--pink);
    font-size: 1.5rem;
}










