@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,700,900&display=swap');
:root {
    --orange: #f49c42;
    --pink: #e04067;
    --transition: .4s ease;
    --text: #222;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
.btn {
    background: var(--orange);
    border-radius: 0;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
}
.btn:hover {
    background: var(--pink);
    color: white;
}
/*************
nav
*************/
.navigacija {
    background: var(--orange);
}
.navigacija .navbar-brand {
    font-size: 2.5rem;
    color: white;
    margin-left: 40px;
    letter-spacing: 3px;
}
.navigacija .navbar-brand:hover {
    color: var(--pink);
    transition: var(--transition);
}
.navigacija .list-unstyled {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.navigacija .list-unstyled li a {
    color: white;
    margin-right: 40px
}
.navigacija .list-unstyled li a:hover {
    color: var(--pink);
    transition: var(--transition);
}
.nav-link {
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 20px;
}
.nav-link:hover {
    color: var(--pink) !important;
    transition: var(--transition);
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--pink) !important;
}
/*************
slider
*************/
.carousel-caption {
    bottom: 32%;
}
.carousel-caption h5 {
    color: var(--pink);
    font-size: 2rem;
}
.carousel-caption .lead {
    color: var(--orange);
    font-size: 2.5rem;
    text-transform: uppercase;
}
.carousel-caption p {
    color: var(--text);
}
/*************
about
*************/
.about h5, .about h3 {
    color: var(--pink);
}







