@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&family=Pacifico&display=swap');

:root {
    --orange: #f6755e;
    --blue: #25a2c3;
    --white: #fff;
    --gray: #767d85;
    --bodyFont: 'Montserrat', sans-serif;
    --transition: .3s ease;
    --font: 16px;
}
/******************
basic styles
******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--font);
    font-family: var(--bodyFont);
    color: var(--gray);
    line-height: 1.6;
}
button {
    background: var(--orange);
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    font-size: 1rem;
}
button:hover {
    cursor: pointer;
    background: var(--blue);
    transition: var(--transition);
}
.container {
    width: 70%;
    margin: auto;
}
/******************
header
******************/
header {
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)),url(img/header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 200px;
}
header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    color: var(--blue);
    margin-bottom: 30px;
}
header p {
    font-weight: 300;
    font-size: 1.3rem;
}
/******************
one
******************/
.one {
    padding: 80px 0;
}
.one article {
    width: 33%;
    float: left;
    padding: 30px;
}
.one img {
    width: 100%;
    border-radius: 50%;
}
.one h2 {
    color: var(--blue);
    padding-bottom: 10px;
}
.one article:nth-child(1) {
    text-align: right;
    padding-top: 60px;
}
.one article:nth-child(3) {
    padding-top: 60px;
}


