@import url('https://fonts.googleapis.com/css?family=Lato|Poppins:400,700&display=swap');
:root {
    --gray1: #515365;
    --gray2: #4e5062;
    --gray3: #4b4d5e;
    --gray4: #484a5a;
    --purple: rgb(110, 37, 148);
    --yellow: #ecd444;
    --white: #fff;
    --text: #444;
    --transition: .4s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: var(--text);
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}
a {
    transition: .4s ease;
}
button {
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
button:hover {
    cursor: pointer;
    transition: .3s ease;
}
/***************
nav
***************/
nav {
    text-align: center;
    background: linear-gradient(to right, var(--purple), var(--yellow));
    height: 55px;
    line-height: 55px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    margin: 30px;
    color: var(--white);
}
nav ul li a:hover {
    color: var(--purple);
}
nav i {
    font-size: 2rem;;
    position: relative;
    top: 5px;
}
/***************
header
***************/
header {
    background-image: linear-gradient(rgba(110, 37, 148,.9), rgba(110, 37, 148,.9)), url(img/header.jpg);
    padding: 200px;
    background-position: center;
    background-size: cover;
    color: var(--white);
    text-align: center;
}
header h1 {
    font-size: 4rem;
    letter-spacing: 2px;
}
header h1::after {
    display: block;
    content: "";
    height: 4px;
    width: 80px;
    background: var(--yellow);
    margin: 30px auto 40px auto;
}
header h4 {
    font-size: 1.4rem;
}
header button {
    background: var(--white);
    color: var(--purple);
}
header button:hover {
    background: var(--yellow);
}
/***************
about
***************/
.about {
    color: var(--white);
}
.about article {
    width: 50%;
    float: left;
    padding: 60px;
}
.about i {
    color: var(--yellow);
    font-size: 3rem;
    padding-bottom: 20px;
}
.about h2, .about p {
    margin-bottom: 20px;
}
.about button {
    background: transparent;
    color: var(--yellow);
    border: 2px solid var(--yellow);
}
.about button:hover {
    background: var(--yellow);
    color: var(--text);
}






